
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior: none;
}
html {
  scroll-behavior: smooth;
}

@layer utilities {
  .shimmer {
    background: linear-gradient(to right, #e2e8f0 0%, #f8fafc 20%, #e2e8f0 40%, #e2e8f0 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
  }

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
}
